<main class="main">
  <div class="content">
    <div class="container-fluid">
      <h1>Location Details</h1>
      <div class="row border gy-2 border-danger">
        <h2>Storage and Inventory</h2>
        <div class="col-md-3 border border-primary">
          <form class="form-floating">
            <div class="form-floating form-floating-sm mb-2">
              <input class="form-control" id="systemMaxFill" placeholder="System Max Fill">
              <label for="systemMaxFill">System Max Fill</label>
            </div>
            <div class="form-floating form-floating-sm mb-2">
              <input class="form-control" id="dxcessUllage" placeholder="Excess Ullage">
              <label for="dxcessUllage">Excess Ullage</label>
            </div>
            <div class="form-floating form-floating-sm mb-2">
              <input class="form-control" id="maxAuthInventory" placeholder="Max Auth Inventory">
              <label for="maxAuthInventory">Max Auth Inventory</label>
            </div>
            <div class="form-floating form-floating-sm mb-2">
              <input class="form-control" id="authWorkingUllage" placeholder="Auth Working Ullage">
              <label for="systemMaxFill">System Max Fill</label>
            </div>
            <div class="form-floating form-floating-sm mb-2">
              <input class="form-control" id="erq" placeholder="ERQ">
              <label for="erq">System Max Fill</label>
            </div>
            <div class="form-floating form-floating-sm mb-2">
              <input class="form-control" id="controlLimit" placeholder="Control Limit">
              <label for="controlLimit">Control Limit</label>
            </div>
            <div class="form-floating form-floating-sm mb-2">
              <input class="form-control" id="involateLevel" placeholder="Involate Level">
              <label for="involateLevel">Involate Level</label>
            </div>
            <div class="form-floating form-floating-sm mb-2">
              <input class="form-control" id="augSafetyLevel" placeholder="Aug Safety Level">
              <label for="augSafetyLevel">Aug Safety Level</label>
            </div>
            <div class="form-floating form-floating-sm mb-2">
              <input class="form-control" id="safetyLevel" placeholder="Safety Level">
              <label for="safetyLevel">Safety Level</label>
            </div>
            <div class="form-floating form-floating-sm mb-2">
              <input class="form-control" id="unobtainableInventory" placeholder="Unobtainable Inventory">
              <label for="unobtainableInventory">Unobtainable Inventory</label>
            </div>
            <!--            <app-form-input label="System Max Fill"/>-->
            <!--            <app-form-input label="Excess Ullage"/>-->
            <!--            <app-form-input label="Max Auth Inventory"/>-->
            <!--            <app-form-input label="Auth Working Ullage"/>-->
            <!--            <app-form-input label="ERQ"/>-->
            <!--            <app-form-input label="Control Limit"/>-->
            <!--            <app-form-input label="Involate Level"/>-->
            <!--            <app-form-input label="Aug Safety Level"/>-->
            <!--            <app-form-input label="Safety Level"/>-->
            <!--            <app-form-input label="Unobtainable Inventory"/>-->
          </form>
        </div>
        <div class="col-md-9 border border-secondary">
          <div class="container-fluid"></div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Sub</th>
              <th scope="col">Status</th>
              <th scope="col">Begin Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Shell Capacity</th>
              <th scope="col">Unusable Capacity</th>
              <th scope="col">Safe Fill</th>
              <th scope="col">Tank Bottoms</th>
              <th scope="col">Capacity Required to Float Tanks</th>
            </tr>
            </thead>
            <tbody>

            <tr>
              <td>ID</td>
              <td>Sub</td>
              <td>Status</td>
              <td>Begin Date</td>
              <td>End Date</td>
              <td>Shell Capacity</td>
              <td>Unusable Capacity</td>
              <td>Safe Fill</td>
              <td>Tank Bottoms</td>
              <td>Capacity Required to Float Tanks</td>
            </tr>
            <tr>
              <td>ID</td>
              <td>Sub</td>
              <td>Status</td>
              <td>Begin Date</td>
              <td>End Date</td>
              <td>Shell Capacity</td>
              <td>Unusable Capacity</td>
              <td>Safe Fill</td>
              <td>Tank Bottoms</td>
              <td>Capacity Required to Float Tanks</td>
            </tr>
            <tr>
              <td>ID</td>
              <td>Sub</td>
              <td>Status</td>
              <td>Begin Date</td>
              <td>End Date</td>
              <td>Shell Capacity</td>
              <td>Unusable Capacity</td>
              <td>Safe Fill</td>
              <td>Tank Bottoms</td>
              <td>Capacity Required to Float Tanks</td>
            </tr>
            <tr>
              <td>ID</td>
              <td>Sub</td>
              <td>Status</td>
              <td>Begin Date</td>
              <td>End Date</td>
              <td>Shell Capacity</td>
              <td>Unusable Capacity</td>
              <td>Safe Fill</td>
              <td>Tank Bottoms</td>
              <td>Capacity Required to Float Tanks</td>
            </tr>
            <tr>
              <td>ID</td>
              <td>Sub</td>
              <td>Status</td>
              <td>Begin Date</td>
              <td>End Date</td>
              <td>Shell Capacity</td>
              <td>Unusable Capacity</td>
              <td>Safe Fill</td>
              <td>Tank Bottoms</td>
              <td>Capacity Required to Float Tanks</td>
            </tr>
            <tr>
              <td>ID</td>
              <td>Sub</td>
              <td>Status</td>
              <td>Begin Date</td>
              <td>End Date</td>
              <td>Shell Capacity</td>
              <td>Unusable Capacity</td>
              <td>Safe Fill</td>
              <td>Tank Bottoms</td>
              <td>Capacity Required to Float Tanks</td>
            </tr>
            <tr>
              <td>ID</td>
              <td>Sub</td>
              <td>Status</td>
              <td>Begin Date</td>
              <td>End Date</td>
              <td>Shell Capacity</td>
              <td>Unusable Capacity</td>
              <td>Safe Fill</td>
              <td>Tank Bottoms</td>
              <td>Capacity Required to Float Tanks</td>
            </tr>
            <tr>
              <td>ID</td>
              <td>Sub</td>
              <td>Status</td>
              <td>Begin Date</td>
              <td>End Date</td>
              <td>Shell Capacity</td>
              <td>Unusable Capacity</td>
              <td>Safe Fill</td>
              <td>Tank Bottoms</td>
              <td>Capacity Required to Float Tanks</td>
            </tr>
            <tr>
              <td>ID</td>
              <td>Sub</td>
              <td>Status</td>
              <td>Begin Date</td>
              <td>End Date</td>
              <td>Shell Capacity</td>
              <td>Unusable Capacity</td>
              <td>Safe Fill</td>
              <td>Tank Bottoms</td>
              <td>Capacity Required to Float Tanks</td>
            </tr>
            </tbody>

          </table>
        </div>
      </div>


    </div>
  </div>
</main>

<router-outlet/>
