<main class="main">
  <div class="content">
    <div class="container">
      <h1 class="p-5">Hello, world!</h1>
      <div class="row">
        <div class="col-md-3">
          <form class="form-floating">
            <app-form-input label="System Max Fill" />
            <app-form-input label="Excess Ullage" />
            <app-form-input label="Max Auth Inventory" />
            <app-form-input label="Auth Working Ullage" />
            <app-form-input label="ERQ" />
            <app-form-input label="Control Limit" />
            <app-form-input label="Involate Level" />
            <app-form-input label="Aug Safety Level" />
            <app-form-input label="Safety Level" />
            <app-form-input label="Unobtainable Inventory" />
          </form>
        </div>
        <div class="col-md-9">

        </div>
      </div>


    </div>
  </div>
</main>

<router-outlet />
