<main class="main">
  <div class="content">
    <div class="container">
      <h1 class="p-5">Hello, world!</h1>
      <div class="row">
        <div class="col-md-3">
          <form class="form-floating">
            <div class="form-floating form-floating-sm mb-3">
              <input type="text" class="form-control" id="floatingInputValue" placeholder="name@example.com" value="test@example.com">
              <label for="floatingInputValue">System Max Fill</label>
            </div>
            <div class="form-floating form-floating-sm mb-3">
              <input type="text" class="form-control" id="excessUllage" placeholder="name@example.com" value="test@example.com">
              <label for="excessUllage">Excess Ullage</label>
            </div>
            <div class="form-floating form-floating-sm mb-3">
              <input type="text" class="form-control" id="maxAuthInventory" placeholder="name@example.com" value="test@example.com">
              <label for="maxAuthInventory">Max Auth Inventory</label>
            </div>
          </form>
        </div>
        <div class="col-md-9">

        </div>
      </div>


    </div>
  </div>
</main>

<router-outlet />
